<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta name="viewport" content="width=device-width,initial-scale=1"/>
    <meta charset="UTF-8"/>
    <title>Title</title>
    <link href="css/base.css" rel="stylesheet" type="text/css"/>
    <link href="js/jquery-ui-1.11.4.custom/jquery-ui.css" rel="stylesheet" type="text/css"/>
    <link href="css/page.css" rel="stylesheet"  type="text/css"/>
</head>
<body>
<!-- 数据栏 -->
<div id="dataBar" class="content">
    <table id="datalist" cellpadding="0" cellspacing="0" class="table">
        <tbody>
        <tr class="e">
            <td>新闻编号</td>
            <td>标题</td>
            <td>新闻类型</td>
            <td>首页显示</td>
            <td>状态</td>
            <td>显示时间</td>
            <td>操作</td>
        </tr>
        <tr th:each="news:${datalist}">
            <td th:text="${news.newsId}"></td>
            <td th:text="${news.newsTitle}"></td>
            <td th:switch="${news.newType}" ><span th:case="'0'">公司新闻</span><span th:case="'1'">新店开业</span><span th:case="'2'">信息披露</span><span th:case="'3'">员工招聘</span></td>
            <td th:switch="${news.isTop}"><span th:case="'0'">否</span><span th:case="'1'">是</span></td>
            <td th:switch="${news.isValid}"><span th:case="'0'">有效</span><span th:case="'9'">无效</span></td>
            <td th:text="${news.showTime}"></td>
            <td><a  style="color:blue;" th:onclick="'newData('+${news.newsId}+')'">编辑</a>&nbsp;<a style="color:blue;" th:onclick="'updateStatus('+${news.newsId}+','+${news.isValid}+')'" th:text="${news.isValid}=='0'?'无效':'有效'"></a></td>
        </tr>
        </tbody>
    </table>
</div>

<!-- 修改的分页 -->
<div class="pagination" style="text-align:left;" id="page" th:with="maxShowPage=7" th:if="${hasOrder}==true">
    <div th:if="${totalCount}==0"></div>
    <a th:if="(${totalCount}!=0) and (${pageNum}==1)" th:attr="href='javascript:void(0);',rev='prev',class='disable'"
       th:utext="上一页" >
    </a>
    <a th:if="(${totalCount}!=0) and (${pageNum}&gt;1)" th:attr="href='#',rev='prev'" th:utext="上一页" th:onclick="'page('+(${pageNum}-1)+')'">
    </a>
    <!--不满7页，全部展示-->
    <span th:if="(${totalCount}!=0)and (${totalPage}&gt;0) and (${totalPage}&lt;(${maxShowPage}+1))">
        <span th:each="i : ${#numbers.sequence( 1, totalPage)}">
            <a th:if="(${pageNum})==${i}" th:attr="href='javascript:void(0);',class='curp'" th:utext="${i}"
               th:onclick="'page('+${i}+')'">
            </a>
            <a th:if="(${pageNum})!=${i}" th:attr="href='#'" th:utext="${i}" th:onclick="'page('+${i}+')'">
            </a>
        </span>
    </span>
    <!-- 总页数多于7页，当前小于等于5，前7页全部展示，后面展示为..-->
    <span th:if="(${totalPage}&gt;${maxShowPage}) and (${pageNum}&lt;(${maxShowPage}-1))">
        <span th:each="i : ${#numbers.sequence( 1, maxShowPage)}">
            <a th:if="(${pageNum})==${i}" th:attr="href='javascript:void(0);',class='curp'" th:utext="${i}"
               th:onclick="'page('+${i}+')'">
            </a>
            <a th:if="(${pageNum})!=${i}" th:attr="href='#'" th:utext="${i}" th:onclick="'page('+${i}+')'">
            </a>
        </span>
        <a th:attr="href='javascript:void(0);',class='disable'"><i th:utext="..."></i>
        </a>
    </span>
    <!--总页数多于7页，当前大于5-->
    <span th:if="(${totalPage}&gt;${maxShowPage}) and (${pageNum}&gt;(${maxShowPage}-2))">
        <a th:attr="href='javascript:void(0);'" th:utext="1"></a>
        <a th:attr="href='javascript:void(0);'" th:utext="2"></a>
        <a th:attr="href='javascript:void(0);',class='disable'"><i th:utext="..."></i></a>
        <span th:if="(${pageNum} + 3) &gt;${totalPage}" th:each="i : ${#numbers.sequence( totalPage - 4, totalPage)}">
            <!--<div th:each="i : ${#numbers.sequence( pageNum - 1,  ((pageNum + 3) &gt; totalPage) ? totalPage:(pageNum + 3)}">-->
            <a th:if="(${pageNum})==${i}" th:attr="href='javascript:void(0);', class='curp'" th:utext="${i}"
               th:onclick="'page('+${i}+')'"></a>
            <a th:if="(${pageNum})!=${i}" th:attr="href='#'" th:utext="${i}" th:onclick="'page('+${i}+')'"></a>
        </span>
        <span th:if="(${pageNum} + 3) &lt;(${totalPage}+1)"
              th:each="i : ${#numbers.sequence( pageNum - 1, pageNum + 3)}">
            <!--<div th:each="i : ${#numbers.sequence( pageNum - 1,  ((pageNum + 3) &gt; totalPage) ? totalPage:(pageNum + 3)}">-->
            <a th:if="(${pageNum})==${i}" th:attr="href='javascript:void(0);', class='curp'" th:utext="${i}"
               th:onclick="'page('+${i}+')'"></a>
            <a th:if="(${pageNum})!=${i}" th:attr="href='#'" th:utext="${i}" th:onclick="'page('+${i}+')'"></a>
        </span>
        <a th:if="(${pageNum})&lt;(${totalPage}-2)"
           th:attr=" href='javascript:void(0);', class='disable'"><i th:utext="..."></i>
        </a>
    </span>
    <a th:if="(${totalCount}!=0) and (${pageNum}==(${totalPage}))"
       th:attr="href='javascript:void(0);',rev='next',class='disable'" th:utext="下一页" >
    </a>
    <a th:if="(${totalCount}!=0) and (${pageNum}!=(${totalPage}))" th:attr="href='#',rev='next'" th:utext="下一页"  th:onclick="'page('+(${pageNum}+1)+')'">
    </a>
    <span th:utext="|共${totalPage}页  ${totalCount}行|"></span>
    跳转第
    <input id="pagenum" type="text"  th:value="${pageNum}"/>
    页
    <select id="pagesize">
        <option value="10" th:selected="${pageSize==10}">10</option>
        <option value="15" th:selected="${pageSize==15}">15</option>
        <option value="20" th:selected="${pageSize==20}">20</option>
        <option value="25" th:selected="${pageSize==25}">25</option>
        <option value="30" th:selected="${pageSize==30}">30</option>
    </select>
    <input class="gobtn" id="gobtn" type="button" value="确定" onclick="jump()"/>
    <div class="page_tips hide" style="display: none;"><i></i>请输入正确的数字！</div>
</div>
<!-- 分页 -->
</body>
</html>