<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta name="viewport" content="width=device-width,initial-scale=1"/>
    <!--<link th:href="@{bootstrap/css/bootstrap.min.css}" rel="stylesheet"/>-->
    <!--<link th:href="@{bootstrap/css/bootstrap-theme.min.css}" rel="stylesheet"/>-->
    <meta charset="UTF-8"/>
    <title>Title</title>
    <link href="css/base.css" rel="stylesheet" type="text/css"/>
    <script src="js/jquery-1.11.1.min.js" type="text/javascript"></script>
    <script src="js/homepage.js"></script>
</head>
<body>
<form id="form1" >
    <div>
        <input id="WmgBaseUrl" type="hidden"  />
        <input id="ManagerId" type="hidden"  />
    </div>
    <div class="sj_s10"></div>
    <div class="news_center">
        <dl>
            <dt>后台更新日志</dt>
            <dd><b>新增销售报表，商品销售统计日报。</b><span>日期：2016-01-15</span></dd>
            <dd><b>新增查询分析，历史订单查询。</b><span>日期：2016-01-14</span></dd>
            <dd><b>新增销售报表，今日实时销售查询。</b><span>日期：2016-01-11</span></dd>
            <dd><b>新增查询分析，订单每日超时查询和订单区间超时查询。</b><span>日期：2016-01-07</span></dd>
            <dd><b>新增生鲜在京东到家平台上实时可用库存查询，历史可用库存变更查询。</b><span>日期：2015-11-18</span></dd>
            <dd><b>新增生鲜生产销售按日期区间查询页面。</b><span>日期：2015-11-10</span></dd>
            <dd><b>生鲜按日生产销售查询页面，新增当日京东到家平台上售完时间和当时可用库存。</b><span>日期：2015-11-10</span></dd>
            <dd><b>起始页新增修改密码功能。</b><span>日期：2015-10-19</span></dd>
        </dl>
    </div>
    <div class="line"></div>
    <div class="news_center">
        后台系统问题和疑问，技术支持电话：6872
    </div>
    <div class="line"></div>
    <div class="news_center">
        <dl>
            <dt>修改密码</dt>
            <dd><span class="w100">原密码：</span><input id="ip_Password1" type="password" /></dd>
            <dd><span class="w100">新密码：</span><input id="ip_Password2" type="password" /></dd>
            <dd><span class="w100">重复新密码：</span><input id="ip_Password3" type="password" /></dd>
            <dd><input id="updatePassword" type="button" value="提交修改" onclick="ChangeLoginPassword();" /></dd>
        </dl>
    </div>
</form>
</body>
</html>