<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta name="viewport" content="width=device-width,initial-scale=1"/>
    <!--<link th:href="@{bootstrap/css/bootstrap.min.css}" rel="stylesheet"/>-->
    <!--<link th:href="@{bootstrap/css/bootstrap-theme.min.css}" rel="stylesheet"/>-->
    <meta charset="UTF-8"/>
    <title>Title</title>
    <link href="css/base.css" rel="stylesheet" type="text/css"/>
    <script src="js/jquery-1.11.1.min.js" type="text/javascript"></script>
    <script src="js/homepage.js"></script>
</head>
<body>
<form id="form1" >
    <div>
        <input id="WmgBaseUrl" type="hidden"  />
        <input id="ManagerId" type="hidden"  />
    </div>
    <div class="sj_s10"></div>
    <div class="news_center">
        <dl>
            <dt>后台更新日志</dt>
            <dd><b>新增大事记管理</b><span>日期：2017-05-26</span></dd>
            <dd><b>新增新闻管理</b><span>日期：2017-05-20</span></dd>
            <dd><b>新增菜单管理</b><span>日期：2017-05-18</span></dd>
            <dd><b>新增角色管理</b><span>日期：2017-05-16</span></dd>
            <dd><b>新增用户管理</b><span>日期：2017-05-16</span></dd>
            <dd><b>起始页新增修改密码功能。</b><span>日期：2017-15-14</span></dd>
        </dl>
    </div>
    <div class="line"></div>
    <div class="news_center">
        后台系统问题和疑问，技术支持电话：6872
    </div>
    <div class="line"></div>
    <div class="news_center">
        <dl>
            <dt>修改密码</dt>
            <dd><span class="w100">原密码：</span><input id="ip_Password1" type="password" /></dd>
            <dd><span class="w100">新密码：</span><input id="ip_Password2" type="password" /></dd>
            <dd><span class="w100">重复新密码：</span><input id="ip_Password3" type="password" /></dd>
            <dd><input id="updatePassword" type="button" value="提交修改" onclick="ChangeLoginPassword();" /></dd>
        </dl>
    </div>
</form>
</body>
</html>